
body{
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#container > .card {
    margin: 15px;
    padding: 15px;
    border: 1px solid lightgray;
}

.card{
    display: none;
}
.card:nth-child(1){
    display: flex;
}
.card:nth-child(2){
    display: flex;
}
.card:nth-child(3){
    display: flex;
}
.card:nth-child(4){
    display: flex;
}

.card > .card-container {
    width: 100%;

}

@media (min-width: 992px) {
    #container > .card {
      width: 18%; 
    }
  }
@media (max-width: 992px) {
    #container > .card {
        width: 40%; 
    }
}

@media (max-width: 768px) {
    #container > .card {
        width: 90%; 
    }
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.navbar .profile-pic img{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center center;
}

.inline{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-cred {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.post-cred p{
    margin: 2px;
    margin-left: 15px;
    text-align: left;
}

.post-cred .profile-name{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
}

.post-cred .date-post{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.content{
    display: flex;
    justify-content: flex-end;
}

.img{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
}

.multiple-img{
    padding: 15px;
    z-index: 1;
    position: absolute;
}
#lightboxImg{
    position: relative;
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
}
#lightboxBg{
    position: fixed;
    z-index: 150;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#lightboxBg.active{
    display: grid;
    place-items: center;
}

.description{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.divide{
    height: 1px;
    background-color: lightgray;
    border: none;
}

.likes{
    margin: 0px;
    padding-top: 10px;
}


.heart-logo{
    margin: 0px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
}

.like-counter p{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more > .custom-btn{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 17px;
    margin: 25px;
    margin-bottom: 100px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #0d99ff;
}